    <%# ログインしているときは以下を表示する %>
      <div class="greeting"> 
        こんにちは、
        <%= link_to "current_user.nameさん", root_path, class: :greeting__link%>
      </div>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
    <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    </div>
  </div>
</main>




<main class="main">
  <div class="inner">
    <%@protos.each do |proto| %>
      <div class="content_post" style="background-image: url(<%= proto.image %>);">
        <p><%= proto.comments %></p>
          <span class="name">
        <%= proto.user %>
      </span>
    </div>
  <% end %>

  <%# 部分テンプレートで呼び出す？ %>
